body {
    background: #f3f3f3;
    font-weight: 400;
    color: #333;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
    margin: 5px 5px;
}
footer img{
    width: 100%;
}
header img{
    width: 100%;
}
h2{
    width: 100%;
    background-color: darkred;
    padding: 10px;
    margin-bottom: 0;
    color: white;
}
#allmap{height:500px;width:100%;}
#r-result{width:100%; font-size:14px;}
